body{
    height: 1080px;
}
p {
    font-family: 'Courier New', Courier, monospace;
}
.searchSelection select{
    height: 40px;
    border-radius: 7px 0px 0px 7px;
}
.searchInput input{
    border: 1px solid Black;
    width: 400px;
    border-radius: 1px;
    height: 40px;
    z-index: 10;

}
.searchInput input:focus{
    background-color: lightgrey;
    transition:0.3s;
    box-shadow: none;
    border: 1px solid Black;


}
.searchButton{
    height: 40px;
    border-radius: 0px 7px 7px 0px;
}
footer{
    position: static;
    background-color: lightgray;
}
