<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BBB Music - Error</title>
        <link rel="icon" href="images/logo_ICON.PNG">
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!--The Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!--The CSS-->
        <!--The JQuery-->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <!--The Axios-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/7bf037d0fc.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark">
        <header id="header">
        </header>
        <main>
            <div class="offset-2 col-8 align-items-center" style="text-align: center; color: white;">
                <h2 style="padding-top: 0.5em;"></h2>
                <h1 style="height: 100%;">The page you are trying to view does not exist.</h1>
                <p style="margin-bottom: 0; padding-bottom: 2em;";></p>
            </div>
        </main>
        <footer id="footer" style="margin: 0; padding: 0;">   
        </footer>
        <script>
            window.onload = function() {
                console.log("test");
                let url = window.location.href;
                let srcString = ""
                for (let i = 0; i < url.length; i++) {
                    if (url[i] === "/") {
                        srcString += "../"
                    }
                }

                $("head").append("<link href='" + srcString + "/stylesheets/styles.css' rel='stylesheet'>");

                $("body").append("<script src='" + srcString + "assets/api.js'>");
                $("body").append("<script src='" + srcString + "assets/database.js'>");
                $("body").append("<script src='" + srcString + "assets/getAllURLParams.js'>");
                $("body").append("<script src='" + srcString + "assets/cookies.js'>");
                $("body").append("<script src='" + srcString + "javascript/app.js'>");
            }

            $(async function() {
                await Promise.all([
                    new Promise((resolve, reject) => {
                        $("#header").load("/header", resolve);
                    }),
                    new Promise((resolve, reject) => {
                        $("#footer").load("/footer", resolve);
                    })
                ]);

                $(".pageTitle").text("ERROR");
            });
        </script>
    </body> 
</html>