<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBB Music Forum</title>
    <link rel="icon" href="images/logo_ICON.PNG">
       <!-- Google Font -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!--The Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!--The CSS-->
    <link href="stylesheets/styles.css" rel="stylesheet">
    <!--The JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!--The Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/7bf037d0fc.js" crossorigin="anonymous"></script>
 
    </head>
  <body class="bg-dark">
    <div id="grid-container">
      <header>
        <div class="row bg-dark text-light">
          <div class="col-3 d-flex justify-content-center pt-2">
            <img class="logo" src="images/logo_large.PNG" height="110px">      
          </div>
          <div class="col-7 d-flex justify-content-center align-items-center">
            <div class="d-flex">
              <div class="searchSelection input-group">
                <select class="custom-select" id="inputGroupSelect01">
                  <option value="0" selected disabled hidden>Post Type</option>
                  <option id="songSelect" value="1">Songs</option>
                  <option id="albumSelect" value="2">Album</option>
                  <option id="artistSelect" value="3">Artist</option>
                </select>
              </div>
            </div>
            <div class="searchInput form-outline">
              <input type="search" placeholder="Search" id="form1" class="form-control" />
            </div>
            <button type="button" class="searchButton btn btn-primary" onclick="search()">
              <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center pt-4">
          
          <div id="menu-container">
            <!--<button id="menu-button">Menu</button>-->
            <section class="material-design-hamburger">
              <button class="material-design-hamburger__icon">
                <span class="material-design-hamburger__layer"></span>
              </button>
            </section>
            <section class="menu menu--off">
              <div class="menu-div-header">
                <img class="profileIMG" src="images/account.png" height="65px" onclick="location.href='user'" style="cursor: pointer;">
                <h2 style="text-align: center;" class="profileUsername">Sign In / Sign Up</h2>
              </div>
              <a href=""><div class="custom-btn userName">Create Post</div></a>
              <hr class="menuDivider">
              <a href=""><div class="custom-btn">Previous Posts</div></a>
              <hr class="menuDivider">
              <a href="user"><div class="custom-btn">About Us</div></a>
              <hr class="menuDivider">
              <a href="user"><div class="custom-btn">Account Details</div></a>
              <hr class="menuDivider">
              <a href="user"><div class="custom-btn" id="signInStatus"></div></a>

            </section>
          </div>
        </div>
        <div class="col-7 offset-3 d-flex justify-content-center align-items-center">
          <div class="d-grid gap-2" style="width: 20em; padding-bottom: 1em;">
            <button id="create-post-button" class="btn btn-primary d-block" type="button" onclick="showCreatePostForm()">Create New Post</button>
          </div>
        </div>
      </div>
    </header>
    <main>

      <div class="row">
      <div class="col-10 offset-1">
        
        <div id="postForm" class="d-none">
          <form style="background-color: lightgray; padding: 20px;  border-radius: 10px;">
            <div class="mb-3">
              <label id="username" for="username" class="form-label"></label>
            </div>
            <div class="mb-3">
              <label for="artist" class="form-label">Artist</label>
              <input type="text" class="form-control" id="artist">
            </div>
            <div class="mb-3">
              <label for="album" class="form-label">Album</label>
              <input type="text" class="form-control" id="album">
            </div>
            <div class="mb-3">
              <label for="song" class="form-label">Song</label>
              <input type="text" class="form-control" id="song">
            </div>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating (1-10)</label>
              <input type="number" class="form-control" id="rating" min="1" max="10">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title *</label>
              <input type="text" class="form-control" id="title" required>
            </div>
            <div class="mb-3">
              <label for="review" class="form-label">Review *</label>
              <textarea class="form-control" id="review" rows="3" required></textarea>
            </div>
            <button class="btn btn-secondary" type="button" style="border-color: grey" onclick="cancelForm()">Cancel</button>
            <button class="btn btn-primary" type="button" onclick="submitForm()">Submit</button>
          </form>
        </div>
        <div id="postContainer"></div>
      </div>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center">
      <div id="paginiationButtons">
      </div>
      </div>
    </main>

    <footer class="bg-dark bg-gradient text-light">
      <div class="footer-whole">
        <div class="row">
          <div class="col-6 justify-content-center align-items-center footer-left">
            <h1>Quick Links:</h1>
            <a href="">Sign In</a>
            <a href="">Create Post</a>
            <a href="">About Us</a>
            <a href="">Terms and Conditions</a>
          </div>
          <div class="col-6 justify-content-center align-items-center footer-right">
            <h1>Connect with us:</h1>
            <a href="https://github.com/arthurwb/ASE220-BBB-SemesterProject" target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #fd9f57;"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl" style="color: #fd9f57;"></i></a>
            <a href="mailto:ASE220@nku.edu" target="_blank"><i class="fa-solid fa-envelope fa-2xl" style="color: #fd9f57;"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-2xl" style="color: #fd9f57;"></i></a>
            <a href="tel:000-0000" target="_blank"><i class="fa-solid fa-phone fa-2xl" style="color: #fd9f57;"></i></a>
          </div>
        </div>
        </div>
      <div class="text-center p-2">
        © Copyright 2023 BBB Music. All rights reserved.          
      </div>
    </footer>
    <!--The ASSETS-->
    <script src="assets/api.js"></script>
    <script src="assets/database.js"></script>
    <script src="assets/getAllURLParams.js"></script>
    <script src="assets/cookies.js"></script>
    <script src="javascript/app.js"></script>
    <script>
      function footerAlign() {
      $('footer').css('height', 'auto');
      var footerHeight = $('footer').outerHeight();
      $('body').css('padding-bottom', footerHeight);
      $('footer').css('height', footerHeight);
    }


    $(document).ready(function(){
      footerAlign();
    });

    $( window ).resize(function() {
      footerAlign();
    });
    </script>
    <script>
      (function() {

        'use strict';

        document.querySelector('.material-design-hamburger__icon').addEventListener(
          'click',
          function() {      
            var child;
    
            this.parentNode.nextElementSibling.classList.toggle('menu--on');

            child = this.childNodes[1].classList;

            if (child.contains('material-design-hamburger__icon--to-arrow')) {
              child.remove('material-design-hamburger__icon--to-arrow');
              child.add('material-design-hamburger__icon--from-arrow');
            } else {
              child.remove('material-design-hamburger__icon--from-arrow');
              child.add('material-design-hamburger__icon--to-arrow');
            }

            checkSignedIn();
        });

      })();
    </script>
  </body> 
</div> 
</html>
