<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <!--The Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!--The CSS-->
        <link href="stylesheets/styles.css" rel="stylesheet">
        <!--The JQuery-->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <!--The Axios-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-10 col-sm-12">
                    <h1 id="title">Post Title</h1>
                    <div id="user" style="display: inline-block;">
                        <img src="images/account.png" height="20px" width="20px" style="vertical-align: middle;">
                        <span style="display: inline-block; margin-left: 10px; vertical-align: middle;">Username</span>
                    </div>
                    <p id="posted">Posted on Date</p>
                    <br>
                    <p id="song">Song</p>
                    <p id="artist">Artist</p>
                    <p id="album">Album</p>
                    <p id="rating">Rating</p>
                    <p id="review">Review</p>
                    <div class="icon-container" style="float: right; padding-bottom: 1em;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 25px; height: 25px; cursor: pointer;" id="likeButton" onclick="likePost()">
                            <path liked="false" d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" fill="#fd9f57"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 25px; height: 25px; cursor: pointer;" onclick="showCreateCommentForm()">
                            <path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5" fill="#fd9f57"/>
                        </svg> 
                    </div>
                    <hr style="width: 100%;"/>       
                    <div id="deleteHolder"></div>
                    <div id="editHolder"></div>
                    <h3 class="text-secondary">Comments</h3>
                    <div id="comment-form" class="d-none">
                        <form>
                            <div class="mb-3">
                                <label id="username" for="username" class="form-label"></label>
                              </div>
                              <div class="mb-3">
                                <label for="review" class="form-label">Review *</label>
                                <textarea class="form-control" id="comment-text" rows="3" required></textarea>
                              </div>
                            <button class="btn btn-secondary" type="button" style="border-color: grey" onclick="commentCancelForm()">Cancel</button>
                            <button class="btn btn-primary" type="button" onclick="commentSubmitForm()">Submit</button>
                        </form>
                    </div>
                    <div id="post-comments"></div>

                    <button type="button" class="btn btn-primary" onclick="history.back()" style="float: right;">Back</button>
                </div>
            </div>
        </div>

        <!--The ASSETS-->
        <script src="assets/api.js"></script>
        <script src="assets/database.js"></script>
        <script src="assets/getAllURLParams.js"></script>
        <script src="JavaScript/addPostDetails.js"></script>
    </body>
</html>