body{
    height: 1080px;
    overflow-x: hidden;
    padding-right: 0;
    margin-right: 0;
    margin: 0;
    width: 100%;
    font-family: 'Rubik', sans-serif;

  }
header{
    width: 100%;
    background-color: #ffffff;

}
header ul{
    text-align: center;

}
body,
header {
  margin-right: 0;
}
main{
  /* background-color: #495769; */
  background-color: #373b3f;

}
.btn-primary{
  background-color: #fd9f57;
  border-color: #fd9f57;

}
.btn-primary:hover {
  background-color: #ff8222;
  border-color: #ff8222;
}
.btn-primary:active {
  background-color: #ff8222;
  border-color: #ff8222;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 16px;
  padding: 5px 0px 5px 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width:fit-content;
}

.card-button img {
  margin-right: 5px;
}

#paginiationButtons button{
  background-color: #fd9f57;
  border-color: #fd9f57;
  color: #fff;
  width: 7em;
}
#paginiationButtons button:hover{
  background-color: #ff8222;
  border-color: #ff8222;
}
.searchSelection select{
    height: 40px;
    border-radius: 7px 0px 0px 7px;
    background-color: #fd9f57;
}
.searchInput input{
    border: 1px solid Black;
    width: 400px;
    border-radius: 1px;
    height: 40px;
    z-index: 10;
}
.searchInput input:focus{
    background-color: lightgrey;
    transition:0.3s;
    box-shadow: none;
    border: 1px solid Black;

}
.searchButton{
    height: 40px;
    border-radius: 0px 7px 7px 0px;
}

.user-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  padding: 5px 0px 5px 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width:fit-content;
}

.user-button img {
  margin-right: 5px;
}

.container-fluid {
    padding-right: 0 !important;
  }

#menu-container {
  position: fixed;
  z-index: 9999;
  right:0 ;
  
}
.menu {
    font-size:1em;
    font-family: 'Rubik', sans-serif;
    color: #333;
  }

  .menu-div-header{
   height: 10em;
   text-align: center;
   margin-top: 1em;
   padding-bottom: 2em;
   border-bottom: solid gray 2px;

  }
  .menu-div-header h1{
    margin-left: -1.5em;
  }

  .profileIMG{
    margin: auto;
    display: block;
    height: 80%;
  }

  .menu div {
    color: #fd9f57;

  }
  .menu div:hover a {
    color: #FFFFFF;
    transition: 0.4s;

  }
  .menu a {
    color: #fd9f57;
    text-decoration: none;
  }
  
  .menu div:last-child {
    border: 0;
  }
  .menuDivider{
    margin-top: 0em;
    margin-bottom: 0em;
  }

 .menu--off {
  position: absolute;
  display: block;
  background: #eee;
  min-height: 600px;
  min-width: 300px;
  transition: all 300ms;
  right: -30em;

}

.menu--on {
  position: absolute;
  display: inherit;
  width: 95%;
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 300ms;
  right: 0.7em;
}





  .material-design-hamburger{
    margin-left: 5em;
    margin-top: 3em;

  }
  .material-design-hamburger button {
    display: block;
    border: none;
    background: none;
    border-radius: 50%;
    outline: 0;

  }
  
  .material-design-hamburger__icon {
    padding: 3rem 1rem;
    cursor: pointer;
    margin-right: 8em;
    margin-bottom: 3em;
  
  }

  
  .material-design-hamburger__layer {
    display: block;
    width: 70px;
    height: 5px;
    border-radius: 5em;
    background: #fd9f57;
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    opacity: 1.0;

  }
  
  .material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    background: inherit;
    border-radius: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;

  }
  
  .material-design-hamburger__layer:before {
    bottom: 300%;
  }
  
  .material-design-hamburger__layer:after {
    top: 300%;
  }
  
  .material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
  }
  
  .material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
  }
  
  .material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
  }
  
  .material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
  }
  
  .material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
  }
  
  .material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
  }
  
  @keyframes material-design-hamburger__icon--slide {
    0% {
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes material-design-hamburger__icon--slide-before {
    0% {
    }
    100% {
      transform: rotate(45deg);
      margin: 3% 37%;
      width: 75%;
    }
  }
  
  @keyframes material-design-hamburger__icon--slide-after {
    0% {
    }
    100% {
      transform: rotate(-45deg);
      margin: 3% 37%;
      width: 75%;
    }
  }
  
  @keyframes material-design-hamburger__icon--slide-from {
    0% {
      transform: rotate(-180deg);
    }
    100% {
    }
  }
  
  @keyframes material-design-hamburger__icon--slide-before-from {
    0% {
      transform: rotate(45deg);
      margin: 3% 37%;
      width: 75%;
    }
    100% {
    }
  }
  
  @keyframes material-design-hamburger__icon--slide-after-from {
    0% {
      transform: rotate(-45deg);
      margin: 3% 37%;
      width: 75%;
    }
    100% {
    }
  }
  
   .custom-btn{
    text-align: center;
    padding: 1em;
    background: #EEEEEE;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #EEEEEE 50%, #fd9f57 50%) left;
    background-size: 200% 100%;
    text-decoration: none;
    transition: .3s ease-out;
    color: #000;
  } 

  .custom-btn:hover{
    background-position: right;
    color: #FFFFFF;

  }

footer{
  position: static;
  width: 100%;
  padding-top: 20px;
}
.footer-whole{
  padding-bottom: 1.5em;
}
footer a {
    color: #fd9f57;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
  }
.footer-left{
  border-right: 1px solid #ffffff;
  text-align: center;

}
.footer-left h1{
  text-align: center;
  font-size: 100%;
  margin-bottom: 1.5em;

}
.footer-left a{
  font-size: 100%;

}
.footer-right{
  text-align: center;
  width: 40%;
}
.footer-right h1{
  margin-bottom: 1.3em;
  font-size: 100%;
}
.footer-right a{
  padding: 20px;
  margin-bottom: 1em;
}
.footer-left a:hover{
  color:#ffc395;
  transition: 0.3s;
}


/*profile.html CSS*/

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  padding: 5px 0px 5px 0px;
  width:fit-content;
}

.profileHeader img {
  margin-right: 5px;
}

.profile-img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:fit-content;
  align-items: center;
}

.alertButtonClass:hover{
  background: #878787;

}
.alertButtonClass{
  background: #bebebe;
}